*.vs
*.csproj.user
assets_original/
ladxhd_game_source_code/.vs/
ladxhd_game_source_code/%LocalAppData%/
ladxhd_game_source_code/ProjectZ.Android/bin/
ladxhd_game_source_code/ProjectZ.Android/obj/
ladxhd_game_source_code/ProjectZ.Android/Content/
ladxhd_game_source_code/ProjectZ.Android/Data/
ladxhd_game_source_code/ProjectZ.Core/bin/
ladxhd_game_source_code/ProjectZ.Core/obj/
ladxhd_game_source_code/ProjectZ.Core/Content/
ladxhd_game_source_code/ProjectZ.Core/Data/
ladxhd_game_source_code/ProjectZ.Desktop/bin/
ladxhd_game_source_code/ProjectZ.Desktop/obj/
ladxhd_game_source_code/ProjectZ.Desktop/Content/
ladxhd_game_source_code/ProjectZ.Desktop/Data/
ladxhd_game_source_code/ProjectZ.Linux/bin/
ladxhd_game_source_code/ProjectZ.Linux/obj/
ladxhd_game_source_code/ProjectZ.Linux/Content/
ladxhd_game_source_code/ProjectZ.Linux/Data/
ladxhd_migrate_source_code/.vs/
ladxhd_migrate_source_code/bin/
ladxhd_migrate_source_code/obj/
ladxhd_modmaker_source_code/.vs/
ladxhd_modmaker_source_code/bin/
ladxhd_modmaker_source_code/obj/
ladxhd_patcher_source_code/.vs/
ladxhd_patcher_source_code/bin/
ladxhd_patcher_source_code/obj/
zelda_ladxhd_build/
