*.vs
*.csproj.user
**/%LocalAppData%/
**/~Publish/
**/bin/
**/obj/
**/Content
assets_original/

ladxhd_patcher_source_code/Patches

ladxhd_game_source_code/ProjectZ.Android/Data/
ladxhd_game_source_code/ProjectZ.Desktop/Data/
ladxhd_game_source_code/ProjectZ.Linux/Data/

ladxhd_game_source_code/ProjectZ.Core/Data/*
!ladxhd_game_source_code/ProjectZ.Core/Data/Buttons/
!ladxhd_game_source_code/ProjectZ.Core/Data/Buttons/**
